// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


:root {
  /** primary **/
  --ion-color-primary: #3ec48f; /* Green from the logo */
  --ion-color-primary-rgb: 62, 196, 143;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #36ad7d;
  --ion-color-primary-tint: #55cda0;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif !important;
}
