// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


:root {
  /** primary **/
  --ion-color-primary: #6B4F3F; /* Green from the logo */
  --ion-color-primary-rgb: 107, 79, 63;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: 96, 71, 57;
  --ion-color-primary-tint: 138, 103, 82;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif !important;
}
