// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


:root {
    /** primary **/
    --ion-color-primary: #2e8b57; /* Forest Green */
    --ion-color-primary-rgb: 46, 139, 87;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #287a4c;
    --ion-color-primary-tint: #439768;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif !important;
}
