// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


:root {
    /** primary **/
  --ion-color-primary: #d32f2f; // Deep red as primary color
  --ion-color-primary-rgb: 211, 47, 47;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #ba2828;
  --ion-color-primary-tint: #d74444;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif !important;
}
